#details{
		
		margin-top:40px;
		
}

#details ul{
		margin-top:40px;
		padding-left:0px;
		list-style:none;
}
#details li{
		display:inline-block;
		margin:0 20px 0 0; 
}
.sec-heading{
		margin-right:30px;
		width:140px;
		padding-top:0px;
		float:left;
		text-align:center;
		font-size:18pt;
		color:#fff;
		background:#1569c7;
		height:100%;
		
}
.def{
	
		float:left;
		height:100%
}
.info-container{
		margin-top:40px;
		height:90px;
}